/* Police */

@import url('https://fonts.googleapis.com/css?family=Amiri|Cambo|Crafty+Girls|Kaushan+Script|Righteous');

/* Police */

/*---------------------------------------------------------------------------*/


/* Balise Principal*/
html {
 	padding:0;
  margin: 2em 2em 2em 2em;
  background: url(images/pattern.png);
  font-family: 'Amiri', serif;
}
body {
  font-size: 18px;
  color: white;
}
h3 {
  font-family: 'Cambo', serif;
  color: #F06529;
  margin: 0;
}
a {
  text-decoration: none;
  color:#F06529;
}
a:hover {
  color: yellow;
}
hr {
  margin: 2em 6em 2em 6em;
}
/* Footer*/
footer {
	height: 2em;
  margin: 2em 6em 2em 6em;
	border-top: solid #d9d9d9 1px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	font-size: 14px;
}
footer p {
	font-style: oblique;
	display: inline-block;
	margin: 0;
	padding: 1em;
}
footer a {
	text-decoration: none;
	color: white;
}
footer a:hover {
	color: red;
}
/* Footer*/
/*---------------------------------------------------------------------------*/

/* Bandeau Article */
.head, .head2, .head3 {
  font-family: 'Righteous', cursive;
}
.head {
  letter-spacing: 12px;
  padding-top: 1%;
  height: 2em;
  width: 100%;
  margin: 0;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: 16px;
  color: #393939;
}
.head2 {
  letter-spacing: 12px;
  padding: 2%;
  padding-left: 10px;
  margin: 0;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: 16px;
  color: #393939;
  border-radius: 10px 10px 1px 2px;
}
.head21 {
    letter-spacing: 12px;
    padding: 1%;
    padding-left: 10px;
    margin: 0;
    background-color: rgb(219, 219, 219);
    text-align: center;
    color: #393939;
    border-radius: 10px 10px 1px 2px;
    font-size: 20px;
    font-weight: bold;
}
.head3 {
  letter-spacing: 12px;
  padding: 2%;
  padding-left: 10px;
  margin: 0;
  background-color: rgb(219, 219, 219);
  text-align: center;
  font-size: 16px;
  color: #393939;
}
/* Bandeau Article */

/*___________________________________________________________________________*/
/*____________________________Main container_________________________________*/
/*___________________________________________________________________________*/

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* Section-profil */
.profil {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 0.8em;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 10px 10px;
  padding: 0;
}
.profil > article {
  display: inline-flex;
}
.profil > div {
  display: inline-flex;
}
.presentation {
  justify-content: center;
}
.presentation img{
  width: 135px;
  height: 180px;
  margin-top: 5%;
  padding: 4%;
}
.presentation div {
  margin-left: 2em;
}
.information-presentation {
  color: black;
  margin: 0 auto;
  width: 15em;
}
.information-presentation i {
  width: 2em;
  text-align: center;
}
.information-presentation p:first-child {
  text-align: right;
  margin: 0;
  margin-top: 10px;
}
.information-presentation p {
  margin: 0;
  line-height: 25px;;
}
.big {
  font-size: 35px;
  color: #F06529 !important;
}
/* Section-profil */

/*****************************************************************************/

/* Section-portfolio*/
.portfolio {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 0.8em;
  border: 1px solid black;
  background: url(images/pattern-2.png);
  border-radius: 10px 10px 10px 10px;
  border-color: rgba(255, 255, 255, 0.6);
  padding: 0;
}
.portfolio:hover {
  background-color: red;
}
.portfolio > a {
  text-align: center;
  font-style: oblique;
  font-size: 30px;
  color: #F06529;
}
.portfolio > a:hover {
  color: yellow;
}
/*****************************************************************************/

/* Section Formation */
.formation {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  width: 28em;
}
.formation p {
  margin: 0;
}
.formation div {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 1%;
  line-height: 35px;
  margin: 0;
}
.formation ul {
  list-style-type: disk;
  list-style-position: outside;
  border-left: 1px solid black;
  padding: 7px;
  margin: 1%;
  margin-left: 1em;
}
.formation li {
  margin-left: 9px;
}
/* Section Formation */

/*****************************************************************************/

/* Section Lien-utile */
.reseaux {
  background-color: rgba(255, 255, 255, 0.6);
  margin: auto;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1em;
}
.reseaux div {
  display: flex;
}
.reseaux ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  padding: 0;
}
.reseaux li {
  margin: 1em;
}
.reseaux a {
  color: #F06529;
}
.reseaux a:hover {
  color: yellow;
}
/* Section Lien-utile */

/*****************************************************************************/

/* Section devellopement */
.devellopement {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  display: flex;
  margin-left: 1em;
  flex-direction: column;
  width: 20em;
  margin-bottom: 2em;
}
.stat-competence {
  margin: auto;
  margin-top: 1em;
}
.stat-competence img {
  display: flex;
  width: 2em;
  height: 2em;
  margin-right: 1em;
}
.stat-competence div {
  display: flex;
  flex-direction: row;
  margin: 1.9%;
}
.stat-competence p:first-child {
  width: 5em;
  margin-right: 1.2em;
}
.stat-competence div > p {
  margin: 0;
}
span:nth-child(2) {
  color: red;
}
.stat-1 {
  background-color: #F06529 ;
}
.stat-2 {
  background-color: #29A9DF;
}
.stat-3 {
  background-color: #F7DF1E ;
}
.stat-4 {
  background-color: #777BB3;
}
.stat-5 {
  background-color: #1F70AA;
}
.stat-6 {
  background-color: #172677;
}
.stat-7 {
  background-color: yellow;
}
.stat-8 {
  background-color: grey;
}
.objectif {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  color: black;
  display: flex;
  margin-left: 1em;
  flex-direction: column;
  width: 20em;
  background-color: rgba(255, 255, 255, 0.6);
}
.objectif div {
  font-family: 'Crafty Girls', cursive;
  font-style: italic;
  line-height: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
}
.objectif div p {
  margin: 0;
  font-size: 15px;
  padding: 4%;}
.cercle {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1em;
  width: 0.9em;
  height: 0.9em;
}

/* Section devellopement */

/*___________________________________________________________________________*/
/*____________________________Fin Main container_____________________________*/
/*___________________________________________________________________________*/



/*___________________________________________________________________________*/
/*____________________________Main container2________________________________*/
/*___________________________________________________________________________*/

/* Niveau2 */

.container2 {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.niveau2 {
  max-width: 34.5em;
  margin-right: 1.2em;
}
.contenu {
  background-color: rgba(255, 255, 255, 0.6);
  border-width: 1px;
  border-style: ridge;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 0 0 0 10px;
}
div .experiences {
	font: inherit;
  margin-right: 2em;
}
.liste {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.liste div {
  line-height: 30px;
}
.liste li {
  list-style: none;
  border-bottom: 1px solid white;
  margin-bottom: 0.45em;
}
.xp-lien {
  display: table;
	font-size: 16px;
	color: #F06529;
}
.xp-date {
  font-family: 'Kaushan Script', cursive;
  color: black;
  margin: 0;
  text-align: right;
}
.xp {
	color: black;
	font-size: 16px;
  list-style: none;
  margin-top: 0;
  margin-left: 1em;
}
/* Niveau2 */

/*****************************************************************************/

/* Section competence */
.logiciel {
  margin-top: 1em;
  margin-bottom: 1em;
}
.skill {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  display: flex;
  flex-direction: column;
}
.skill2 {
  margin: 0 auto;
}
.skill2 div {
  display: flex;
  justify-content: center;
}
.skill2 div p:first-child {
  margin-right: 1em;
  width: 13em;
}
.skill2 div p {
  margin: 0;
}
.skill2 ul{
  width: 8em;
}
.skill2 li {
  color: black;
}
.skill2 i {
  color: black;
  margin-right: 1em;
}
/* Section competence */

/*****************************************************************************/

/* Section languages */
.languages {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.langues div p:first-child {
  margin-right: 2em;
  width: 2em;
}
.langues div p {
  margin: 0;
}
.tab1 {
  margin: auto;
  padding: 0;
  margin-bottom: 1em;
}
.tab1 h2 {
  margin: 0;
  text-align: center;
}
.tab1 div {
  display: flex;
  margin: auto;
  justify-content: center;
}
.point {
  color: yellow;
}
.point span {
  color: black;
}
/* Section languages */

/*****************************************************************************/

/* Section loisir*/
.loisir img {
  margin: auto;
}
.loisir {
  margin: auto;
  border-radius: 0 0 10px 0;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  display: flex;
  flex-direction: column;
}
.loisir ul {
  padding: 1%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.loisir-list {
  list-style: none;
  padding: 0;
}
.loisir-list i {
  width: 2em;
}
.loisir-list li {
  margin-left: 1em;
  width: 100%;
  margin: 2.5%;
}
/* Section loisir*/

/*___________________________________________________________________________*/
/*__________________________Fin Main container2______________________________*/
/*___________________________________________________________________________*/
